@import url(reset.css);***{display:inline-block;padding:7px;border-radius:5px;text-decoration:none;color:white;-webkit-transition:all 0.5s;transition:all 0.5s;background-color:rgba(0,0,0,0.7);font-weight:bold}***:hover{background-color:white;color:black;font-weight:bold}
/*# sourceMappingURL=more.css.map */