@charset "utf-8";
@import url(reset.css);




@mixin more{
  display:inline-block;
  padding:7px;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  transition:all 0.5s;
  background-color:rgba(0,0,0,0.7);
  font-weight:bold;
  // font-family: "Josefin Sans SemiBold";
  &:hover{
   background-color:white;;
   color:black;
   font-weight:bold;
  //  font-family: "Josefin Sans SemiBold";
  }
}

***{
  @include more;
}

// *** の部分に適宜Class名などを入れてください
// fontはお好みで変更してください