@charset "utf-8";
@import url(reset.css);
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

/* 全体設定 */

body{
  background-image:url(../images/background/back.jpg);
  background-repeat:repeat;
  

}

.main{
  background-color:#fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper{
  width:1080px; 
  
  margin: 0 auto;
}



/* ヘッダ－ */

header{
  display: flex;
  color:white;
  font-size:12px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
  margin-bottom:30px;


  ul{
    display:flex;
    position:relative;
    top:115px;
    left:20px;

    li {


      a {
        color: #fff;
        text-decoration: none;
        display:  block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}






/*タイトル*/
.maintitle{
  margin-top: 20px;
  margin-bottom: 20px;
    h2{
    width: 700px;
    height: 120px;
    margin-left: 190px;
    background-color: #ff84a0;
    color: #fff;
    font-family: 'Meiryo UI';
    font-weight: bold;
    font-size: 48px;
    border-radius: 10px;
      .title_h2{
        float: left;
        margin-right: 20px;
        padding-left: 45px;
        padding-top: 35px;
      }
      .logo_study{
        float: left;
        height: 60px;
        width: 63px;
        padding-top: 30px;
      }
    }
}

.box_1{
  color:#707070;
  width: 700px;
  margin: 80px auto;
  overflow: hidden;
  .box_1_1{
    width: 400px; 
    float:left;
    h3{
      font-size: 30px;
      line-height: 35px;
      font-family: 'Josefin Sans Semibold';
      margin-bottom: 20px;
      span{
        font-family: 'Meiryo UI';
        font-weight: bold;
        font-size: 22px;
      }
    }
    .para{
      width: 400px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
      font-size: 15px;
      line-height: 25px;
      margin-right: 100px;
    }
  }
  
  .image{
    padding-right: 50px;
    padding-top: 30px;
    float:right;
  }
}

.box_3{
  @extend .box_1;
  .box_3_1{
    @extend .box_1_1;
  }
}
.box_5{
  @extend .box_1;
  .box_5_1{
    @extend .box_1_1;
  }
}
.box_7{
  @extend .box_1;
  .box_7_1{
    @extend .box_1_1;
  }
}

.box_5,
.box_7{
  .image{
    padding-top: 50px;
    .button {
      clear:both;
      padding-left: 30px;
      font-size: 14px;
      font-weight: bold;
      width: 110px;
      height: 30px;
      text-align: center;
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
      a {
        margin-top: 10px;
        padding: 5px;
        background-color: #fff;
        border: #707070 1px solid;
        border-radius: 10px;
        display: block;
        text-decoration: none;
        color: #707070;
        transition:all 0.5s;
        &:hover {
          background-color:black;
          color:white;
        }
      }
    }
   }
  }


.box_2{
  color:#707070;
  width: 700px;
  margin: 80px auto;
  overflow: hidden;
  
  .box_2_1{
    width: 400px;
    float: right;
    h3{
      text-align: right;
      font-size: 30px;
      line-height: 35px;
      font-family: 'Josefin Sans Semibold',sans-serif;
      margin-bottom: 20px;
      margin-right: 0;
      span{
        font-family: 'Meiryo UI';
        font-weight: bold;
        font-size: 22px;
      }
    }
    .para{
        width: 400px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
        font-size: 15px;
        line-height: 25px;
        
        float: right;
    }

  }
  .image{
    padding-left: 50px;
    padding-top: 15px;
    float: left;
    position:relative;
  }
  
    
}

.box_4{
  @extend .box_2;
  .box_4_1{
    @extend .box_2_1;
  }
}
.box_4{
  .image{
    padding-top: 90px;
  }
}

.box_6{
  @extend .box_2;
  .box_6_1{
    @extend .box_2_1;
  }
}

.box_6{
  .image{
    padding-top: 50px;
  }
}
//フッター
footer {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
  .footer__gnav {
    margin-bottom: 20px;
    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;
      li {
        a {
          display: block;
          color: #fff;
          text-decoration: none;

          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
  .small {
    margin: 50px auto;
    text-align: center;
    font-size: 5px;
    color: #fff;
    a{
      color:#fff;
      text-decoration: none;
      &:hover{
        color: #707070;
        text-decoration: underline;
      }
    }
  } 
}
