@charset "utf-8";
@import url(reset.css);

/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;
 

}

@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

.main {
  background-color: #fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}



/* ヘッダ－ */

header {
  display: flex;
  color: white;
  font-size: 12px;
  font-family: '游ゴシック';
  margin-bottom: 30px;


  ul {
    display: flex;
    position: relative;
    top: 115px;
    left: 20px;

    li {

 
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}

// タイトル
.maintitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6b17a;
  color: #fff;
  font-family: 'Meiryo UI';
  font-weight: bold;
  font-size: 48px;
  border-radius: 10px;
}

.t-discription {
  color: #707070;
  font-family: '游ゴシック';
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 600px;
  margin: 20px auto;

  strong {
    font-size: 20px;
    padding: 40px;
    font-family: '游ゴシック';
    font-weight: bold;
  }
}


// ボックス1&3
.box_1,
.box_3 {
  color: #707070;
  width: 690px;
  margin: 80px auto;
  overflow: hidden;

  h3 {
    font-size: 30px;
    line-height: 35px;
    font-family: 'Josefin Sans SemiBold', sans-serif;

    margin-bottom: 20px;

    span {
      font-family: 'Meiryo UI';
      font-weight: bold;
      font-size: 22px;
    }
  }

  .para {
    width: 300px;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 25px;
    // margin-left: 50px;
    margin-right: 60px;
    float: left;
  }


  .image {
    float: left;
  }
}

//ボックス２
.box_2 {
  color: #707070;
  width: 700px;
  margin: 60px auto;
  overflow: hidden;

  .image {
    float: left;
  }

  h3 {
    text-align: right;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Josefin Sans SemiBold', sans-serif;
    margin-bottom: 20px;
    margin-right: 75px;

    span {
      font-size: 22px;
      font-family: 'Meiryo UI';
      font-weight: bold;
    }
  }

  .para {
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 25px;
    width: 300px;
    margin-left: 60px;
    float: left;
    a{
      text-decoration: none;
      background-color:white;
      color:black;
      font-weight:bold;
      display:block;
      border-radius: 10px;
      border-bottom:gray 1px solid;
      padding:5px 10px;
      transition:all 0.5s;
      text-align: center;
      &:hover{
        background-color:black;
        color:white;
      }
    }
  }



}

//フッター
footer {
  font-family: '游ゴシック';

  .footer__gnav {
    margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;

      li {


        a {
          display: block;
          color: #fff;
          text-decoration: none;
          
          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
}

.small {
  //clear: both;
  margin: 50px auto;
  text-align: center;
  font-size: 5px;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #707070;
      text-decoration: underline;
    }
  }
}



/*.c-link{
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  background-color: #fff;
  color: gray;
  border-radius: 15px;
  border:1px gray solid;
  text-align: center;
  font-size:13px;
  &:hover{
    color:#000;
  }
}*/