@charset "utf-8";
@import url(reset.css);

/* 全体設定 */


body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;


}

.main {
  background-color: #fff4e1;
  border-radius: 30px;
  height: 2840px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}

h2 {
  font-family: 'Gravitas One';
  font-size: 18px
}
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

h3 {
  font-family: 'Josefin Sans SemiBold';
  font-weight:bold;
  font-size: 1.5em;
}

p {
  font-size: 13px;
  font-family: '游ゴシック';
}

/* ヘッダ－ */

header {
  display: flex;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
  font-family: '游ゴシック';
}

.inner p {
  font-size: 12px;
}

.gnav ul {
  display: flex;
  position: relative;
  top: 122px;
  left: 20px;
}

.gnav ul li {
  padding-right: 15px;
}

.gnav a {
  text-decoration: none;
  color: white;

  &:hover {
    color: gray;
  }
}



/* コンテンツ */
.main__what {
  display: flex;
}

.main__txt h2 {
  margin-left: 100px;
  color: #a05dc5;
  span {
    color: #707070;
    font-weight: bold;
    font-family: '游ゴシック';
    margin-bottom: 14px;
    line-height: 1.8em;
    letter-spacing: -0.07em
  }
}

.main__letter__w {
  width: 50%;
  height: 50%;
  margin-top: 200px;
}

.main__txt img {
  width: 520px;
  padding: 10px;
}

.main__txtbox span {
  font-weight: bold;

  font-family: 'MS UI Gothic';
  display: inline-block;
  margin-bottom: 15px;
}

.main__txt p {
  width: 400px;
  margin-left: 100px;
  padding: 10px;
  font-family: '游ゴシック';
  font-size: 15px;
  color: gray;

  letter-spacing: 1px;
  line-height: 1.5em;
}

.what__more {
  font-family: "Josefin Sans SemiBold";
  text-decoration: none;
  color: gray;
  text-decoration: underline;
  position: relative;
  left: 400px;
  bottom: 10px;
  transition: all 0.5s;

  &:hover {
    color: black;

  }
}


/*メインコンテント */

.main__content {
  position: relative;

  .main__txtbox {
    width: 350px;
    position: absolute;
    top: 280px;
    left: 400px;
    text-align: center;

    h2 {
      color: white;
      margin-bottom: 15px;
    }

    span {
      font-weight: bold;
      color: white;
      font-family: '游ゴシック';
      display: inline-block;
      margin-bottom: 15px;
      line-height: 1.8em;
    }

    p {
      color: white;
      font-family: '游ゴシック';

      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.5em;
    }

  }

  .content__soft {
    width: 350px;
    color: white;
    position: absolute;
    top: 850px;
    left: 100px;

    h3 {
      margin-bottom: 15px;
    }

    p {
      font-family: '游ゴシック';
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.5em;
    }

    a {
      display: inline-block;
      padding: 7px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      transition: all 0.5s;
      background-color: rgba(0, 0, 0, 0.7);
      position: relative;
      top: -10px;
      left: 300px;
      font-weight: bold;
      font-family: "Josefin Sans SemiBold";

      &:hover {
        background-color: white;
        ;
        color: black;
        font-weight: bold;
        font-family: "Josefin Sans SemiBold";
      }

    }
  }

  .content__course {

    color: white;
    position: absolute;
    top: 650px;
    left: 820px;

    h3 {
      margin-bottom: 15px;
      width: 220px;
    }

    p {
      width: 200px;
      font-family: '游ゴシック';
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 1.5em;
    }

    a {
      display: inline-block;
      padding: 7px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      transition: all 0.5s;
      background-color: rgba(0, 0, 0, 0.7);
      position: relative;
      top: 15px;
      left: 130px;
      font-weight: bold;
      font-family: "Josefin Sans SemiBold";

      &:hover {
        background-color: white;
        ;
        color: black;
        font-weight: bold;
        font-family: "Josefin Sans SemiBold";
      }

    }
  }
}

.main__seminer {
  position: relative;

  img {
    margin-left: 50px;
  }

  .seminer__txt {
    position: absolute;
    top: 130px;
    left: 200px;

    h2 {
      color: #eac600;
      margin-bottom: 20px;
      position: relative;
      left: 200px;
    }

    p {
      font-size: 15px;
      line-height: 1.5em;
      color: gray;
    }
  }

}


// info

.main__info {
  position: relative;

  .info__txt {
    position: absolute;
    top: 125px;
    left: 20px;

    h2 {
      color: #fe6955;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }

    p {
      color: gray;
      font-size: 15px;      
      letter-spacing: 1px;
      line-height: 1.5em;
    }
  }

  .info__imgcontainer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 230px;
    left: 25px;

    a {
      text-decoration: none;
      color: white;

      img {
        margin-right: 10px;
        transition: all 0.5s;

        &:hover {
          opacity: 0.8;
        }
      }

    }
  }

  .main__contact__txt {
    position: absolute;
    color: white;
    top: 630px;
    left: 70px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 5px 15px;

    p {
      line-height: 1.5em;
      margin-top: 30px;
      font-size: 11px;
    }

    img {
      position: relative;
      left: 200px;
      bottom: 35px;
    }

  }

  .main__conpany__txt {
    position: absolute;
    color: gray;
    top: 660px;
    left: 730px;
    border: gray 0.7px solid;
    border-radius: 10px;
    padding: 10px 15px;

    p {
      line-height: 3em;
      text-decoration: underline;
      font-size: 11px;

      a {
        text-decoration: none;
        color: gray;

      }
    }
  }
}

footer {
  padding-bottom:40px;
  text-align: center;

  .footer__gnav {
    color: white;

    ul {
      display: flex;
      justify-content: space-around;
      margin-top: 100px;
      font-size: 13px;

      a {
        text-decoration: none;
        color: white;
        font-family: '游ゴシック';
        &:hover {
          color: gray;
        }
      }
    }
  }
}

small {
  color: white;
  font-size: 10px;
  display: inline-block;
  margin-top: 30px;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: gray;
    }
  }
}