@charset "utf-8";
@import url(reset.css);
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}
/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;


}

.main {
  background-color: #fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}



/* ヘッダ－ */

header {
  display: flex;
  color: white;
  font-size: 12px;
  font-family: '游ゴシック';
  margin-bottom: 30px;


  ul {
    display: flex;
    position: relative;
    top: 115px;
    left: 20px;

    li {

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}


// タイトル
.maintitle {
  margin-top: 20px;
  margin-bottom: 20px;


  h2 {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9793b8;
    color: #fff;
    font-family: 'Meiryo UI';
    font-weight: bold;
    font-size: 48px;
    border-radius: 10px;
  }

  .t-discription {
    color: #707070;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 600px;
    margin: 30px auto;
  }
}

//Notes
.notes {
  display: flex;
  width: 530px;
  margin: 30px auto 50px;
  color: #707070;
  font-family: '游ゴシック';
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  border: #707070 1px solid;
  border-radius: 25px;

  .notes_image {
    margin: 10px 0 0 10px;
  }

  p {
    margin-top: 10px;
    width: 430px;

  }
}



// faq
.faq {
  clear: both;
  width: 600px;
  margin: 0 auto 130px;
  font-size: 15px;
  color: #707070;
  font-family: '游ゴシック';
  line-height: 25px;

  dt {
    font-family: 'Josefin Sans SemiBold', sans-serif;
    font-style: 20px;
  }

  .question {
    color: #f63a3a;
  }

  .answer {
    color: #5656f9;
  }

  .q_text {
    font-weight: bold;
  }

  .a_text {
    margin-bottom: 50px;
  }
}

// ボタン
.button_1 {
  font-family: '游ゴシック';
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  

  a {
    display: block;
    text-decoration: none;
    color: #707070;
    margin-top: 10px;
  padding: 5px;
  background-color: #fff;
  border: #707070 1px solid;
  border-radius: 10px;
  transition:all 0.5s;

    &:hover {
      background-color: black;
      color:white;
    }
  }
}

// Other Questions
.otherq {
  color: #707070;
  width: 300px;
  margin: 0 auto 60px;

  h3 {
    text-align: center;
    font-size: 30px;
    line-height: 33px;
    font-family: 'Josefin Sans SemiBold', sans-serif;

    span {
      font-family: 'Meiryo UI';
      font-weight: bold;
      font-size: 20px;

    }
  }
}

.otherq_contents {
  display: flex;
  flex-direction: column;

  .otherq_button {
    font-family: '游ゴシック';
    font-size: 15px;
    font-weight: bold;
    width: 230px;
    margin: 15px auto 5px;
    text-align: center;
    //padding: 15px 8px;
   

    a {
      display: block;
      padding: 15px 8px;
      text-decoration: none;
      color: #707070;
      background-color: #fff;
      border: #707070 1px solid;
      border-radius: 5px;
      transition:all 0.5s;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}










//フッター
footer {
  font-family: '游ゴシック';

  .footer__gnav {
    margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;

      li {


        a {
          display: block;
          color: #fff;
          text-decoration: none;

          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
}

.small {
  //clear: both;
  margin: 50px auto;
  text-align: center;
  font-size: 5px;
  color: #fff;
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      color: #707070;
      text-decoration: underline;
    }
  }

}