@charset "utf-8";
@import url(reset.css);

@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;


}

.main {
  background-color: #fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}



/* ヘッダ－ */


header {
  display: flex;
  color: white;
  font-size: 12px;
  font-family: '游ゴシック';
  margin-bottom: 30px;


  ul {
    display: flex;
    position: relative;
    top: 115px;
    left: 20px;

    li {


      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}

// タイトル
.maintitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a7ee80;
  color: #fff;
  font-family: 'Meiryo UI';
  font-weight: bold;
  font-size: 48px;
  border-radius: 10px;

}

.t-description {
  color: #707070;
  font-family: '游ゴシック';
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 600px;
  margin: 20px auto;

  strong {
    font-size: 20px;
    padding: 40px;
    font-family: '游ゴシック';
    font-weight: bold;
  }
}

.link_area {
  width: 313px;
  clear: both;
  float: right;

}

.link_area2{
  width: 313px;
  clear: both;
  float: left;

}

.link {
  width: 200px;
  height: 50px;
  background-color: #fff;
  // clear: both;
  text-align: center;
  
  // float: right;
  margin: 0 auto;
  border-radius:10px;
  a {
    display: block;
    text-decoration: none;
    color:black;
    font-weight: bold;
    // border-bottom:gray 2px solid;
    border-radius:10px;
    line-height: 50px;
    transition:all 0.5s;
    &:hover{
      background-color:black;
      color: white;
    }
  }
}





// ボックス1&3
.box_1,
.box_3 {
  color: #707070;
  width: 690px;
  margin: 80px auto;
  overflow: hidden;

  h3 {
    font-size: 30px;
    line-height: 35px;
    font-family: 'Josefin Sans SemiBold';

    margin-bottom: 20px;

    span {
      font-family: 'Meiryo UI';
      font-weight: bold;
      font-size: 22px;
    }
  }

  .para {
    width: 300px;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 25px;
    // margin-left: 50px;
    margin-right: 60px;
    float: left;
  }


  .image {
    float: left;
    margin-bottom: 20px;
  }
}

//ボックス２
.box_2 {
  color: #707070;
  width: 700px;
  margin: 60px auto;
  overflow: hidden;

  .image {
    float: left;
    margin-bottom: 20px;
  }

  h3 {
    text-align: right;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Josefin Sans SemiBold', sans-serif;
    margin-bottom: 20px;
    margin-right: 75px;

    span {
      font-size: 22px;
      font-family: 'Meiryo UI';
      font-weight: bold;
    }
  }

  .para {
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 25px;
    width: 300px;
    margin-left: 60px;
    float: left;
  }



}

//フッター
footer {
  font-family: '游ゴシック';

  .footer__gnav {
    margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;

      li {


        a {
          display: block;
          color: #fff;
          text-decoration: none;

          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
}

.small {
  //clear: both;
  margin: 50px auto;
  text-align: center;
  font-size: 5px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #707070;
      text-decoration: underline;
    }
  }
}