@charset "utf-8";
@import url(reset.css);
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

@mixin more{
  display:inline-block;
  padding:12px 15px;
  border-radius: 5px;
  text-decoration: none;
  color:black;
  font-size: 25px;
  transition:all 0.5s;
  background-color:rgba(255,255,255,0.7);
  border-bottom:1px gray solid;
  position:relative;
  font-weight:bold;
  font-family: "Josefin Sans SemiBold";
  
  &:hover{
   background-color:black;
   color:white;
   font-weight:bold;
   font-family: "Josefin Sans SemiBold";
  }
}
/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;


}

.main {
  background-color: #fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}



/* ヘッダ－ */

header {
  display: flex;
  color: white;
  font-size: 12px;
  font-family: '游ゴシック';
  margin-bottom: 30px;


  ul {
    display: flex;
    position: relative;
    top: 115px;
    left: 20px;

    li {

      margin-left: 0px;

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}

// タイトル
.maintitle {
  margin-top: 20px;
  margin-bottom: 100px;
}

h2 {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color:  #9793b8;
  color: #fff;
  font-family: 'Meiryo UI';
  font-weight: bold;
  font-size: 48px;
  border-radius: 10px;
}

.t_discription {
  color: #707070;
  font-family: '游ゴシック';
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  width: 600px;
  margin: 20px auto;
}


// ボックス
.boxes {
  width: 900px;
  margin: 0 auto 100px;
  display: flex;
  text-align: center;


  .box {
    color: #707070;
    width: 300px;
    //margin: 80px auto;
    overflow: hidden;

    h3 {
      font-size: 30px;
      line-height: 35px;
      font-family: 'Josefin Sans SemiBold', sans-serif;
      margin-bottom: 15px;
    }
      p{
        font-family: '游ゴシック';
        font-weight: bold;
        font-size: 15px;  
    }
    a{
      margin-top: 40px;
      @include more;
    }

  }
}

//MORE

// .button_more{
  // @include more;
// }


//フッター
footer {
  font-family: '游ゴシック';

  .footer__gnav {
    margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;

      li {


        a {
          display: block;
          color: #fff;
          text-decoration: none;

          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
}

.small {
  //clear: both;
  margin: 50px auto;
  text-align: center;
  font-size: 5px;
  color: #fff;
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      color: #707070;
      text-decoration: underline;
    }
  }


}