@charset "utf-8";
@import url(reset.css);
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;


}

.main {
  background-color: #fff4e1;
  border-radius: 30px 30px 0 0;
  padding-top: 30px;
  padding-bottom: 10px;

}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}



/* ヘッダ－ */

header {
  display: flex;
  color: white;
  font-size: 12px;
  font-family: '游ゴシック';
  margin-bottom: 30px;


  ul {
    display: flex;
    position: relative;
    top: 115px;
    left: 20px;

    li {

  

      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 7px;

        &:hover {
          color: #707070;
        }
      }
    }
  }
}

// タイトル
.maintitle {
  margin-top: 20px;
  margin-bottom: 20px;


  h2 {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c89e87;
    color: #fff;
    font-family: 'Meiryo UI';
    font-weight: bold;
    font-size: 48px;
    border-radius: 10px;

  }

  h3 {
    color: #707070;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Josefin Sans SemiBold', sans-serif;
    margin-bottom: 20px;

    span {
      font-family: 'Meiryo UI';
      font-weight: bold;
      font-size: 22px;
    }

  }

  .t-discription {
    color: #707070;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    margin-bottom: 20px;

    strong {
      font-size: 20px;
      padding: 40px;
      font-family: '游ゴシック';
      font-weight: bold;
    }
  }
}


// ボックス1&3
.box_1,
.box_3,
.box_2 {
  color: #707070;
  width: 690px;
  margin: 80px auto;
  overflow: hidden;

  .box_title {
    float: left;

    h3 {
      font-size: 30px;
      line-height: 35px;
      font-family: 'Josefin Sans SemiBold', sans-serif;

      margin-bottom: 20px;

      span {
        font-family: 'Meiryo UI';
        font-weight: bold;
        font-size: 22px;
      }
    }
  }

  .describe {
    width: 300px;
    font-family: '游ゴシック';
    font-size: 15px;
    line-height: 25px;
    // margin-left: 50px;
    margin:0 60px 10px 0;
    float: right;
    dt{
      font-size: 10px;
      font-weight: bold;
      text-decoration: underline;
    }
    dd{
    a{
        color: #a5a5a5;
        font-size: 13px;
        font-weight: bold;
        //text-decoration:none;
        &:hover{
          color: #707070
        }
      }
    }
  }



}

// ボタン
.button_1{
  font-family: '游ゴシック';
  font-size: 14px;
  font-weight: bold;
  width: 280px;
  margin: 0 auto; 
  text-align: center;
  
  
  
  a{
  border-radius: 10px;
  margin-top: 10px;
  padding:5px;
  background-color: #fff;
  border:1px solid gray;
  display: block;
  text-decoration: none;
  
  color: black;
  transition:all 0.5s;
  &:hover{
    background-color: #000;
    color: #fff;
  }
  }
}
.button_2{
  font-family: '游ゴシック';
  font-size: 14px;
  font-weight: bold;
  clear: both;
  float: right;
  width: 230px;
  margin: 0 auto; 
  margin-right: 120px;
  background-color: #fff;
  text-align: center;
  
  
  a{
    border-radius: 10px;
    padding:5px;
    border:1px solid gray;
    display: block;
    text-decoration: none;
    color: black;
    transition:all 0.5s;
  &:hover{
    background-color: #000;
    color: #fff;
  }
  }
}


//フッター
footer {
  font-family: '游ゴシック';

  .footer__gnav {
    margin-bottom: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      color: #fff;
      font-size: 13px;

      li {


        a {
          display: block;
          color: #fff;
          text-decoration: none;

          padding: 20px;

          &:hover {
            color: #707070;
          }
        }
      }
    }
  }
}

.small {
  //clear: both;
  margin: 50px auto;
  text-align: center;
  font-size: 5px;
  color: #fff;
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      color: #707070;
      text-decoration: underline;
    }
  }

}