@charset "utf-8";
@import url(reset.css);

/* 全体設定 */

body {
  background-image: url(../images/background/back.jpg);
  background-repeat: repeat;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: gray;
    }

  }

}
@font-face {
  font-family: 'Josefin Sans SemiBold';
  src: url('../josefinsans/JosefinSans-SemiBold.ttf') format("truetype");
}

p {
  font-family: '游ゴシック';
  font-size: 15px;
}

h3 {
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 35px;
  font-family: 'Josefin Sans SemiBold', sans-serif;
  color: gray;

  span {
    font-size: 22px;
    font-family: 'Meiryo UI';
    font-weight: bold;
  }
}

.main {
  background-color: #fff4e1;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;


}

.wrapper {
  width: 1080px;

  margin: 0 auto;
}

section {
  margin-bottom: 50px;
}

.inner p {
  font-size: 12px;
}



/* ヘッダ－ */

header {
  display: flex;
  color: white;

  margin-bottom: 30px;
  width: 1080px;


}

.gnav ul{
  font-family: '游ゴシック';
  display: flex;
  position: relative;
  top: 122px;
  left: 30px;
  font-size: 12px;
  li{
    padding-right: 15px;
    
  }
}


  // メイン

  .container {
    width: 700px;
    margin: 0 auto;
  }

  .main__txt1 {
    margin: 20px 0px;
    text-align: center;
    color: gray;

    h2 {
      margin: 0 auto;
      border-radius: 10px;
      background-color: #98d087;
      font-family: "Meiryo UI";
      font-weight: bold;
      color: white;
      font-size: 48px;
      line-height: 70px;
      width: 660px;
      padding: 20px;


      text-align: center;

      img {
        padding-left: 20px;
        
      }
    }

    span {
      font-family: "游ゴシック";
      font-weight: bold;
      font-size: 22px;
      display: inline-block;
      margin-top: 25px;
    }

    p {
      line-height: 20px;
      width: 500px;
      margin: 20px auto;

      span {
        font-weight: bold;

      }

    }
  }

  .inner p{
    font-size: 12px;
  }


  // えでぃた

  .main__editer {
    display: flex;
    margin: 0 auto;

    div {
      margin: 30px auto;
      width: 300px;
      margin-left: 30px;

      p {
        color: gray;
        line-height: 25px;
      }
    }

    img {
      margin-right: 130px;
      margin-top: 125px;
    }
  }


  // プログラミング
  .main__programing {
    display: flex;
    margin: 0 auto;

    div {
      margin: 30px auto;
      width: 300px;
      position: relative;
      left: 30px;


      p {
        color: gray;
        line-height: 25px;
      }
    }

    img {
      margin-left: 100px;
      margin-top: 130px;
    }
  }

  // adobe

  .main__adobe {
    display: flex;
    margin: 0 auto;

    div {
      margin: 30px auto;
      width: 300px;
      position: relative;
      right: 40px;

      p {
        color: gray;
        line-height: 25px;
      }
    }

    img {
      margin-right: 150px;
      margin-top: 125px;
    }
  }

  // クラウドツール

  .main__cloud {
    display: flex;
    margin: 0 auto;

    img {
      margin-left: 100px;
      margin-top: 130px;
    }

    div {
      margin: 30px auto;
      width: 300px;
      position: relative;
      left: 15px;


      p {
        color: gray;
        line-height: 25px;
      }
    }

  }

  .nami {
    display: inline-block;
    position: relative;
    bottom: 23px;
  }

  // フッター


  footer {

    color: white;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-family: '游ゴシック';

  }

  .footer__gnav ul {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    margin-bottom: 40px;

  }
